


    <ngb-tabset>
      <ngb-tab title="Find Job">
        <ng-template ngbTabContent>
          <ng-container *ngTemplateOutlet="employeeRegistrationTemplate"></ng-container>
        </ng-template>
      </ngb-tab>


      <ngb-tab title="Find Worker">
        <ng-template ngbTabContent>
          <ng-container *ngTemplateOutlet="employerRegistrationTemplate"></ng-container>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>

<!-- Employee template -->
<ng-template #employeeRegistrationTemplate>
  <div class="container">
        <div class="row main">
          <div class="panel-heading">
             <div class="panel-title text-center">
                <h1 class="title">Find Job</h1>
                <hr />
              </div>
          </div>
          <div class="main-login main-center">


            <form class="form-horizontal" method="post" action="#">

              <!-- firstName -->
              <div class="form-group">
                <label for="firstName" class="cols-sm-2 control-label">First Name</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="firstName" [(ngModel)]="user['firstName']"  placeholder="Enter your Name"/>
                  </div>
                </div>
              </div>
              <!-- lastName -->
              <div class="form-group">
                <label for="lastName" class="cols-sm-2 control-label">Last Name</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="lastName" [(ngModel)]="user['lastName']" placeholder="Enter your Name"/>
                  </div>
                </div>
              </div>
              <!-- email -->
              <div class="form-group">
                <label for="email" class="cols-sm-2 control-label">EMAIL</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="email" [(ngModel)]="user['email']" placeholder="Enter your Name"/>
                  </div>
                </div>
              </div>
              <!-- password -->
              <div class="form-group">
                <label for="password" class="cols-sm-2 control-label">Password</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                    <input type="password" class="form-control" name="password" [(ngModel)]="user['password']" placeholder="Enter your Password"/>
                  </div>
                </div>
              </div>
              <!-- comfirmPassword -->
              <div class="form-group">
                <label for="confirmPassword" class="cols-sm-2 control-label">Confirm Password</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                    <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="user['confirmPassword']" placeholder="Confirm your Password"/>
                  </div>
                </div>
              </div>
              <!-- Employee Type -->
              <div class="form-group">
                <label for="employeeType" class="cols-sm-2 control-label">Are you company? or individual</label>
                <div class="cols-sm-10">
                  <label class="switch">
                    <input type="checkbox" name="employeeType" [(ngModel)]="user['employeeType']">
                    <span class="slider"></span>
                  </label>
                </div>
              </div>


              <!-- Company Details -->
              <ng-container *ngIf="user['employeeType']">
                <div class="form-group">
                  <label for="name" class="cols-sm-2 control-label">Business Name</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                      <input type="text" class="form-control" name="businessName"  placeholder="Business Name"/>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="name" class="cols-sm-2 control-label">Control Number</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                      <input type="text" class="form-control" name="controlNumber"  placeholder="Control Number"/>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="name" class="cols-sm-2 control-label">Business Type</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                      <input type="text" class="form-control" name="businessType"  placeholder="Business Type"/>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="name" class="cols-sm-2 control-label">Principal Office Address</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                      <input type="text" class="form-control" name="principalOfficeAddress"  placeholder="Principal Office Address"/>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="name" class="cols-sm-2 control-label">Registration Date</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                      <input type="text" class="form-control" name="registrationDate"  placeholder="Registration Date"/>
                    </div>
                  </div>
                </div>
              </ng-container>
              <!-- Submit -->
              <div class="form-group ">
                <button type="button" class="btn btn-primary btn-lg btn-block login-button">Register</button>
              </div>
              <div class="login-register">
                 <a [routerLink]="['/log-in']" >Login</a>
              </div>
            </form>
          </div>
        </div>
      </div>
</ng-template>


<!-- Employer Template -->
<ng-template #employerRegistrationTemplate>
  <div class="container">
        <div class="row main">
          <div class="panel-heading">
                   <div class="panel-title text-center">
                      <h1 class="title">Find Worker</h1>
                      <hr />
                    </div>
                </div>
          <div class="main-login main-center">


            <form class="form-horizontal" method="post" action="#">
              <!-- firstName -->
              <div class="form-group">
                <label for="firstName" class="cols-sm-2 control-label">First Name</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="firstName" [(ngModel)]="user['firstName']"  placeholder="Enter your Name"/>
                  </div>
                </div>
              </div>
              <!-- lastName -->
              <div class="form-group">
                <label for="lastName" class="cols-sm-2 control-label">Last Name</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="lastName" [(ngModel)]="user['lastName']" placeholder="Enter your Name"/>
                  </div>
                </div>
              </div>
              <!-- email -->
              <div class="form-group">
                <label for="email" class="cols-sm-2 control-label">EMAIL</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="email" [(ngModel)]="user['email']" placeholder="Enter your Name"/>
                  </div>
                </div>
              </div>
              <!-- password -->
              <div class="form-group">
                <label for="password" class="cols-sm-2 control-label">Password</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                    <input type="password" class="form-control" name="password" [(ngModel)]="user['password']" placeholder="Enter your Password"/>
                  </div>
                </div>
              </div>
              <!-- comfirmPassword -->
              <div class="form-group">
                <label for="confirmPassword" class="cols-sm-2 control-label">Confirm Password</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                    <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="user['confirmPassword']" placeholder="Confirm your Password"/>
                  </div>
                </div>
              </div>
              <!-- Submit -->
              <div class="form-group ">
                <button type="button" class="btn btn-primary btn-lg btn-block login-button">Register</button>
              </div>

              <div class="login-register">
                 <a [routerLink]="['/log-in']" >Login</a>
              </div>
            </form>
          </div>
        </div>
      </div>
</ng-template>
