<ngb-tabset [destroyOnHide]="true">
  <ngb-tab title="Find Job">
    <ng-template ngbTabContent>
      <!-- <ng-container *ngTemplateOutlet="employeeRegistrationTemplate"></ng-container> -->
      <app-signup-partial [registrationType]="'employee'"></app-signup-partial>
    </ng-template>
  </ngb-tab>


  <ngb-tab title="Find Worker">
    <ng-template ngbTabContent>
      <!-- <ng-container *ngTemplateOutlet="employerRegistrationTemplate"></ng-container> -->
      <app-signup-partial [registrationType]="'employer'"></app-signup-partial>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
