<ng-sidebar-container style="height: 100vh;">

  <!-- A sidebar -->
  <ng-sidebar [(opened)]="_opened">
    <p>Sidebar contents</p>

    <br/>

    <div>
      <p>Search</p>
      <input type="text" name="search" [(ngModel)]="searchModel">
      <input type="button" (click)="search()" value="Search">
    </div>
  </ng-sidebar>

  <!--&lt;!&ndash; Page content &ndash;&gt;-->
  <!--<div ng-sidebar-content>-->
    <!--<button (click)="_toggleSidebar()">Toggle sidebar</button>-->
  <!--</div>-->

</ng-sidebar-container>